.DS_Store

application/config/config.php
application/config/database.php

assets/uploads/images/users/*
!assets/uploads/images/users/.gitkeep
assets/uploads/images/users/thumbnail/*
!assets/uploads/images/users/thumbnail/
!assets/uploads/images/users/thumbnail/.gitkeep

assets/uploads/images/child/*
!assets/uploads/images/child/.gitkeep
assets/uploads/images/child/thumbnail/*
!assets/uploads/images/child/thumbnail/
!assets/uploads/images/child/thumbnail/.gitkeep

assets/uploads/images/medical/*
!assets/uploads/images/medical/.gitkeep
assets/uploads/images/medical/thumbnail/*
!assets/uploads/images/medical/thumbnail/
!assets/uploads/images/medical/thumbnail/.gitkeep

assets/uploads/file/*
!assets/uploads/file/.gitkeep
assets/uploads/file/thumbnail/*
!assets/uploads/file/thumbnail/
!assets/uploads/file/thumbnail/.gitkeep


application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
